<div class="container">
    <!-- Page title -->
    <div class="row page-title">
        <h5>Local Login</h5>
    </div>

    <!-- Form -->
    <div class="row login">
        <form  method="post">
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input data-ng-model="authController.loginForm.email" type="text" class="form-control" id="txtEmail" name="email">
            </div>
            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input data-ng-model="authController.loginForm.password" type="password" class="form-control" id="txtPassword" name="password">
            </div>
            <div class="form-group">
             <button type="button" id="btnLogin" class="btn btn-warning" data-ng-click="authController.login()"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Login</button>
            </div>
        </form>
        <p>No account yet? <a ui-sref="local-signup">Sign Up!</a></p>
    </div>
</div>