<div class="container">
	 <!-- Page title -->
	 <div class="row page-title">
		 <h5>List of Accounts</h5>
	 </div>

	<!-- Form -->
	<div class="row">
		<form class="form-inline alert alert-warning" name="frmAccount" id="frmAccount">

				<div class="form-group">
					<label for="txtName">Name:</label>
					<input data-ng-class="frmAccount.txtName.$invalid && frmAccount.txtName.$dirty ? 'error-field' : ''" name="txtName"  data-ng-model="accountsController.accountForm.name" type="text" id="txtName" class="form-control" placeholder="Name" required />
				</div>

				<div class="form-group">
					<label for="cboType">Type:</label>
					<select data-ng-class="frmAccount.cboType.$invalid && frmAccount.cboType.$dirty ? 'error-field' : ''" name="cboType" data-ng-model="accountsController.accountForm.type" id="cboType" class="form-control" required >
						<option value="">Select</option>
						<option value="COMPANY">Company</option>
						<option value="PERSONAL">Personal</option>
					</select>
				</div>

				<div class="form-group">
					<label for="txtStreet">Address:</label>
					<input data-ng-class="frmAccount.txtStreet.$invalid && frmAccount.txtStreet.$dirty ? 'error-field' : ''" name="txtStreet" data-ng-model="accountsController.accountForm.addresses[0].street" type="text" id="txtStreet" class="form-control" placeholder="Street" required />
					<input data-ng-class="frmAccount.txtCity.$invalid && frmAccount.txtCity.$dirty ? 'error-field' : ''" name="txtCity"  data-ng-model="accountsController.accountForm.addresses[0].city" type="text" id="txtCity" class="form-control" placeholder="City" required />
					<input data-ng-model="accountsController.accountForm.addresses[0].state" type="text" id="txtState" class="form-control" placeholder="State / Province" />
					<input data-ng-class="frmAccount.txtCountry.$invalid && frmAccount.txtCountry.$dirty ? 'error-field' : ''" name="txtCountry"  data-ng-model="accountsController.accountForm.addresses[0].country" type="text" id="txtCountry" class="form-control" placeholder="Country" required />
					<input data-ng-model="accountsController.accountForm.addresses[0].zip" type="text" id="txtZip" class="form-control" placeholder="Zip" />
				</div>

				<div class="form-group">
					<label for="txtPhone">Phone:</label>
					<input data-ng-model="accountsController.accountForm.addresses[0].phone" type="text" id="txtPhone" class="form-control" placeholder="Phone" />
				</div>

			<div class="form-group crud-buttons">
				<button data-ng-if="accountsController.accountForm.id == ''" data-ng-disabled="frmAccount.$invalid" id="btnAdd" class="btn btn-warning" data-ng-click="accountsController.addAccount()">Add</button>
				<button data-ng-if="accountsController.accountForm.id != ''" data-ng-disabled="frmAccount.$invalid" id="btnUpdate" class="btn btn-warning" data-ng-click="accountsController.updateAccount()">Save</button>
				<button type="reset" id="btnCancel" class="btn btn-warning" data-ng-click="accountsController.resetForm()">Cancel</button>
			</div>
		</form>
	</div>

	<!-- Search panel -->
	<div class="row search-panel">
		<div class="input-group search-accounts">
			<input id="txtSearchAccountByName" type="text" class="form-control" placeholder="Search ..." data-ng-model="accountsController.searchName">
			<span class="input-group-btn">
			<button class="btn btn-secondary" type="button" data-ng-click="accountsController.search();"><span class="glyphicon glyphicon-search"></span></button>
		  </span>
		</div>
	</div>

	 <!-- Grid section -->
	<div class="row grid accounts-grid">
		<!-- Table headers -->
		<div>
			<table class="table table-header">
				<tr>
					<td class="counter">#</td>
					<td class="name">Name</td>
					<td class="phone">Phone #</td>
					<td class="address">Mailing Address</td>
					<td class="action">Action</td>
				</tr>
			</table>
		</div>

		<!-- Table body -->
		<div>
			<table class="table table-hover table-striped table-content">
				<tr data-ng-repeat="account in accountsController.results">
					<td class="counter">{{account.counter}}</td>
					<td class="name">{{account.name}}</td>
					<td class="phone">{{account.addresses[0].phone}}</td>
					<td class="address">{{account.addresses[0].street}} {{account.addresses[0].city}} {{account.addresses[0].state}} {{account.addresses[0].country}} {{account.addresses[0].zip}}</td>
					<td class="action"><a href="#" data-ng-click="accountsController.getAccount(account.id)" title="Edit">Edit</a>, <a href="#" data-ng-click="accountsController.deleteAccount(account.id)" title="Delete">Delete</a></td>
				</tr>

				<tr data-ng-show="accountsController.totalRecords <= 0">
					<td colspan="5">No record found.</td>
				</tr>
			</table>
		</div>
 	</div>
	<!-- Pagination -->
	<div class="row">
		<ul uib-pagination data-boundary-links="true" max-size="5" force-ellipses="true" data-items-per-page="accountsController.size" data-total-items="accountsController.totalRecords" data-ng-model="accountsController.page"></ul>
	</div>
</div>